.wi {
    font-size: 5rem;
}
.margin-top {
    margin-top: 2em;
}
.icon-pad {
    padding: 1rem;
}
.navbar-primary {
    background-color: #428bca;
    border-color: #428bca;
}
.navbar-primary a {
    color: #ffffff;
    text-shadow: 0 0 1px #666;
    text-decoration: none;
}
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.fade.ng-leave {
  transition:3s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}