<div class="matching-city" ng-if="isMatchingCity()">
    <h2>Forecast for {{ foundCity }}</h2>
</div>
<div class="no-matching-city" ng-if="!isMatchingCity()">
    <h2>No results for {{ city }}</h2>
    <h3>Showing results instead for {{ foundCity }}</h3>
</div>
<br />
<div class="row">
    <div class="days-select col-md-6">
        <h5>Days to show</h5>
        <form>
            <label class="radio-inline" ng-repeat="num in ['1','2','3','4','5','6','7','8','9','10']">
                <input type="radio" name="inlineRadioOptions" id="radio-{{num}}" active="true" value="{{num}}" ng-checked="isChecked(num)" ng-click="showDays(num)"><label for="{{num}}" ng-click="showDays(num)">{{num}}</label>
            </label>    
        </form>
    </div>
    <div class="temp-select col-md-6">
        <h5>Show temperature in</h5>
        <form>
            <label class="radio-inline" ng-repeat="format in unitsOfMeasurement">
                <input type="radio" name="inlineRadioOptions" id="radio-{{format}}" active="true" value="{{format}}" ng-checked="checkTempFormat(format)" ng-click="changeFormat(format)"><label for="{{format}}" ng-click="changeFormat(format)">{{format}}</label>
            </label>
        </form>
    </div>
</div>
<br /><br />
<div class="daily-forecast" ng-repeat="day in results">
    <div class="row-fluid">
        <div class="col-md-4">
            <forecast-panel day="day" degrees="degrees" convert-date="conversionService.convertDate(date)" kelvin-to-celsius="conversionService.kelvinToCelsius(temp)" convert-to-celsius="conversionService.kelvinToCelsius(temp)" kelvin-to-farenheit="conversionService.kelvinToFarenheit(temp)" convert-kelvin="conversionService.convertKelvin(temp)"></forecast-panel>
        </div>
    </div>
</div>
