<h2>Forecast for {{ city }}</h2>
<br />
<div class="days-select">
    <h5>Days to show</h5>
    <label class="radio-inline" ng-repeat="num in [1,2,3,4,5,6,7,8,9,10]">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" active="true" value="{{num}}" ng-checked="isChecked(num)" ng-click="showDays(num)"><label for="{{num}}" ng-click="showDays(num)">{{num}}</label>
    </label>
</div>
<br /><br />
<div class="daily-forecast" ng-repeat="day in results">
    <div class="row-fluid">
        <div class="col-md-4">
            <forecast-panel day="day" convert-date="convertDate(date)" convert-to-celcius="convertToCelcius(temp)"convert-to-celcius="convertToCelcius(temp)" convert-to-farenheit="convertToFarenheit(temp)"></forecast-panel>
        </div>
    </div>
</div>



