<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h4>Forecast by City</h4>
        <br />
        <form class="form-inline" name="cityForm" ng-submit="setCity()">
            <div class="form-group">
                <input type="text" name="city" class="form-control" ng-model="city" placeholder="Enter a city..." required ng-required="true">
                <input class="btn btn-primary" type="submit" value="Get Forecast">
            </div>
        </form>
    </div>
</div>
<div class="col-md-8 col-md-offset-2 text-center row margin-top" ng-show="error">
    <div class="alert alert-warning" ng-model="error">
        <strong>Yarrrrr!</strong> {{ error }}
    </div>
</div>
<div class="row margin-top">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <i class="wi wi-day-{{condition}} icon-pad" ng-repeat="condition in ['sunny', 'clouds', 'rain', 'snow']"></i>
    </div>
</div>